html {	
	text-align: center;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;	
	text-align: center;	
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 8pt; 	
}

#footer { 

 
}

hr {

height: 1px;


}
* {
margin: 0;
padding: 0;
}


a {			
	font-size: 9pt;
	font-weight: bold;	
	text-decoration: none;
	color:black;	
		
}


a:hover {		
	border-bottom: 1px solid;
	color: #6699CC;	
}

.instructions a{
 	padding-left: 15px;
}


	
.dialog-form {		
	margin:0;	
		
	border: 1px solid #c8c8c8;
    /*background-color: #f7f7f7;*/
		
	background: url(../images/table_silver.jpg) 0 0 repeat-all;	
}

ul {
	list-style: none;
}

.logo{	color: white;
	font-size: 12px;	
	font-weight: bold;	
	padding-left: 8px;	
	letter-spacing: 3px;
	padding-top: 8px;
}


.menu {		
	height: 38px;
	background: url(../images/silver_bg.jpg) 0 0 repeat-x;	
	border-bottom: 1px solid #c8c8c8;	
	border-top: 1px solid #c8c8c8;	
	
	
}

.important {
	font-size:10pt;
	letter-spacing:1px;			
	text-align: left;
	padding: 6px;
	padding-left: 70px;
        padding-bottom: 30px;
	width: 90%;
	color: #314457;
}

.warning {
	font-size:10pt;
	letter-spacing:1px;
	border-bottom: 1px solid #999;			
	text-align: left;
	padding: 6px;
	padding-left: 40px;
	width: 90%;
	color: red;	
	background:url(../images/warning.gif) no-repeat 3px 0px;
}

.error {
	color: red;	
}

.boldText {
	font-size: 12px;
	font-weight: bold;
}

.button-bar {
	padding: 4px;
	border-top: 1px solid #c8c8c8;			
	text-align: center;	
	width: 93%;
}

a.back-link {
	margin-top: 5px;	
	margin-right: 5px;
	padding-bottom: 5px;
	padding-left: 20px;		
	float: right;			
	font-size: 12px;	
	color: #336691;
}

.titlePane {	
	background : #FFFFCC url(../images/main-gradient.jpg) 0 0 repeat-x;	
	font-weight: bold;		
	vertical-align: bottom;
	border: solid 1px #000666;	
	width: 98%;		
	height: 22px;
}

.content {
	width: 98%;
	/* styling css */
	border: 1px solid;
	border-color: ThreeDShadow ThreeDShadow ThreeDShadow ThreeDShadow;	
}

.highlight {
	background-color: #badfff;
	border-bottom: 1px solid;		
}

.hidden {
	font-size: 0;
	color: white;
}

table{	
	margin: 0px 0px 5px 0px;
		
}
table td{	
	padding: 3px;	
}






TABLE.displaytag {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 9pt; 
	width: 100%;
	background: #e9e9e9;	
}

TABLE.displaytag TH {
	background-image: url('../images/thead2.png'); 
	background-repeat: repeat-x;
	color: #462F6B;
	text-align: center;
	height: 25px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 10pt;
	border: 0;
}

TABLE.displaytag TD {

	vertical-align: middle; 
	height: auto;
	color: #889CC1;
	font-weight: bold;
	text-align: center;
}


TABLE.displaytag TR.odd TD {
	background-color: #fff;
}

TABLE.displaytag TR.odd INPUT {
	border: solid 0px white;
	width: 100%;
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

TABLE.displaytag TR.even INPUT {
	border: solid 0px white;
	width: 100%;
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
}

TABLE.displaytag TFOOT {
	background-image: url('../images/thead2.png'); 
	background-repeat: repeat-x;
	height: 31px;
}

TABLE.displaytag TFOOT INPUT {
	background-image: url('../images/thead2.png'); 
	background-repeat: repeat-x;
}

TFOOT input{
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 9pt;
height: 25px;
width: 55px;
float: right;
margin-left: 10px;
margin-top: 4px;
margin-bottom: 4px;
}

TABLE.displaytag TR.even TD {
	background-color: #F7F7F7;
}

TABLE.displaytag TH.sorted {
	background-color: #f9e375;
}

TABLE.displaytag TH.sorted a,
TABLE.displaytag TH.sortable a {
	display: block;
	background: url(../images/arrow_off.png) no-repeat right;
	color: #000;
	text-decoration: none;
}

TABLE.displaytag TH.sorted a:hover,
TABLE.displaytag TH.sortable a:hover {
	color: #f00;
}

TABLE.displaytag TH.order1 a {
	background-image: url(../images/arrow_down.png);
	color: #B9B0C5;
}

TABLE.displaytag TH.order2 a {
	background-image: url(../images/arrow_up.png);
	color: #B9B0C5;
}

span.pagebanner {
	background-color: #F7F7F7;
	border: 1px solid #e9e9e9;
	padding: 2px 4px 2px 4px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 0px;
	display:block;
	border-bottom: none;
	text-align: left;
}

span.pagelinks {
	background-color: #F7F7F7;
	border: 1px solid #e9e9e9;
	padding: 2px 4px 2px 4px;
	width: 100%;
	display:block;
	border-top: none;
	margin-bottom: 5px;
	text-align: left;
}

span.pagelinks a {
	color: #889CC1;
}

span.pagelinks a:hover {
	color: #f00;


}

div.exportlinks {
	text-align: right;
	width: 100%; 
	background-image: url('../images/thead2.png'); 
	background-repeat: repeat-x;
	border: 1px solid #e9e9e9;
	padding-top: 2px;
}

span.export {
	display: inline;
	cursor: pointer;
	height: 20px;
}

span.excel {
	background: url("../images/csv.png") no-repeat;
	width: 30px;
}
span.csv {
	background: url("../images/csv.png") no-repeat;
	width: 30px;
}
span.xml {
	background: url("../images/xml.png") no-repeat;
	width: 30px;
}
span.pdf {
	background: url("../images/pdf.png") no-repeat;
	width: 30px;
}
span.rtf {
	background: url("../images/rtf.png") no-repeat;
	width: 30px;
}







.checklist {
    border: 1px solid #ccc;
    list-style: none;    
    overflow: auto;   
    background-color: white;
}

.checklist, .checklist li {
	margin: 0; 
	padding: 0; 
}

.vert {
	list-style: none;
	margin: 0;
	padding: 0;
}

.vert li {
	float: left;
}

#usermenu ul {
	margin: 5px;
}

#usermenu li {
	float: right;
	white-space: nowrap;	
}

table.adminMenu th
{
	text-align: center;	
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	padding: 25px;
}

table.adminMenu td
{
	padding-left: 55px;
}

.alert-form {
	background-color: white;
	border: 0; 	
}

.img-report {
	background:url(../images/reports.gif) no-repeat 3px 3px;	
}

.img-report-small {
	background:url(../images/report.gif) no-repeat 0px 0px;	
}

.img-param {
	background:url(../images/parameters.gif) no-repeat 3px 3px;
}

.img-group {
	background:url(../images/groups.gif) no-repeat 3px 3px;
}

.img-group-small {
	background:  url(../images/groups-small.gif) 0 0 no-repeat;	
}

.img-user {
	background:url(../images/user.gif) no-repeat 3px 3px;
}

.img-log {
	background:url(../images/log.gif) no-repeat 3px 3px;
}

.img-ds {
	background:url(../images/ds.gif) no-repeat 3px 3px;
}

.img-settings {
	background:url(../images/settings.gif) no-repeat 3px 3px;
}

.img-chart {
	background:url(../images/chart.gif) no-repeat 3px 3px;
}

.img-schedule {
	background:url(../images/schedule.gif) no-repeat 3px 3px;
}

.img-export {
	background:url(../images/export.gif) no-repeat 3px 3px;
}

.img-delete {
	background:url(../images/warning.gif) no-repeat 3px 3px;
}

.img-upload {
	background:url(../images/upload_big.gif) no-repeat 3px 3px;
}

.img-queryreport {
	background:url(../images/queryreport.gif) no-repeat 3px 3px;
}

.img-stats {
	background:url(../images/stats.gif) no-repeat 3px 3px;
}

.img-alert {
	background:url(../images/alert.gif) no-repeat 3px 3px;
}

.img-reload {
	background:url(../images/reload.gif) no-repeat 0px 0px;
}

#rodape{

position:absolute;
bottom:0;
left: 0;
width:100%;
height: 38px;
background: url(../images/silver_bg.jpg) 0 0 repeat-x;	
border-bottom: 1px solid #c8c8c8;	
border-top: 1px solid #c8c8c8;	

}
